################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/OnlineShop/FileContentIndex/c39dbc9d-7274-4334-9c3c-c8345563c072.vsidx
