################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/OnlineShop/FileContentIndex
/OnlineShop/.vs/OnlineShop/CopilotIndices/17.12.68.61481/CodeChunks.db-shm
/OnlineShop/.vs/OnlineShop/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/OnlineShop/.vs/OnlineShop/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
/OnlineShop/.vs/OnlineShop/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
/OnlineShop/OnlineShop.Db/obj/Debug/net8.0/OnlineShop.Db.AssemblyInfoInputs.cache
/OnlineShop/OnlineShop.Db/obj/Debug/net8.0/OnlineShop.Db.AssemblyInfo.cs
/OnlineShop/OnlineShopWebApp/obj/Debug/net8.0/OnlineShopWebApp.AssemblyInfo.cs
/OnlineShop/OnlineShopWebApp/obj/Debug/net8.0/OnlineShopWebApp.AssemblyInfoInputs.cache
/OnlineShop/.vs/OnlineShop/CopilotIndices/17.12.68.61481/CodeChunks.db
*.json
*.config
