<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="https://i.pinimg.com/736x/45/a5/b7/45a5b7e6971a54a402bafa24e90b77aa.jpg" class="d-block w-100 img-container" alt="Первый слайд">
			<div class="container">
				<div class="carousel-caption text-start">
					<h1>Уход за кожей</h1>
					<p><a class="btn btn-success text-dark" href="#">Записаться</a></p>
				</div>
			</div>
		</div>

		<div class="carousel-item">
			<img src="https://i.pinimg.com/564x/1d/2d/f8/1d2df8b700ab6e6b4040be002be86d14.jpg" class="d-block w-100 img-container" alt="Первый слайд">
			<div class="container">
				<div class="carousel-caption">
					<h1>Расслаюляющий массаж</h1>
					<p>Погрузитесь в мир гармонии и умиротворения</p>
					<p><a class="btn btn-success text-dark" href="#">Записаться</a></p>
				</div>
			</div>
		</div>

		<div class="carousel-item">
			<img src="https://i.pinimg.com/564x/3b/88/b7/3b88b737e51a65c3d28e09cbb46bd30d.jpg" class="d-block w-100 img-container" alt="Первый слайд">
			<div class="container">
				<div class="carousel-caption text-end">
					<h1>Премиум уход</h1>
					<p>с заботой о тебе</p>
					<p><a class="btn btn-success text-dark" href="#">Приобрести</a></p>
				</div>
			</div>
		</div>

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="container marketing">