<hr>
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading fw-normal lh-1">Почему стоит доверять, именно нам?</h2>
		<p class="lead">
			Мы приглашаем тебя открыть для себя мир истинной красоты вместе с нами.
			Присоединяйтесь к нам сегодня и преображайтесь в настоящее искусство!
		</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img src="~/images/Gif/1.gif" class="rounded-image" />
	</div>
</div>
<hr>
<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading fw-normal lh-1">Оставьте заботы за порогом </h2>
		<p class="lead">
			Здесь вы найдете умиротворенную атмосферу, где вы сможете насладиться заслуженным отдыхом, доверившись опытным рукам наших специалистов.
			<br /><br />Мы предлагаем широкий спектр услуг, включая уход за кожей лица, профессиональный макияж, а также массаж и SPA-процедуры.
		</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img src="~/images/Gif/2.gif" class="rounded-image" />
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading fw-normal lh-1">Эксклюзивный уход </h2>
		<p class="lead">
			Наши специалисты работаеют только с использованием самых качественных косметических средств, чтобы обеспечить вам эксклюзивный уход
			и безупречный результат.<br />
			Мы стремимся не просто улучшить ваш вид, но и подарить вам ощущение уверенности и блеска.
		</p>
	</div>
	<div class="col-md-5">
		<img src="~/images/Gif/3.gif" class="rounded-image" />
	</div>
</div>

<hr>