<hr />
<div class="container">
	<footer class="py-5">
		<div class="row">
			<div class="col-6 col-md-2 mb-3">
				<h5>Помощь</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Telegram-bot</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Часто задаваемые вопросы</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отследить заказ</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Контакты</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Блог</a></li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>Магазин</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Акции</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Косметика</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Уход</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Бонусная система</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Новости</a></li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>Связаться с нами</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Сотрудничество</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Телефон</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Почта</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Доставка</a></li>
				</ul>
			</div>

			<div class="col-md-5 offset-md-1 mb-3">
				<form>
					<h5>Следите за новинками</h5>
					<p>Подпишитесь, чтобы первыми узнавать об экслюзивных предложениях.</p>
					<div class="d-flex flex-column flex-sm-row w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email address</label>
						<input id="newsletter1" type="text" class="form-control" placeholder="Введите свой Email">
						<button class="btn btn-success text-dark" type="button">Подписаться</button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="d-flex flex-column align-items-center py-4 my-4 border-top text-center">
			<p class="text-center">
				<a href="https://t.me/molodoi_ya" class="text-decoration-none">Связаться с разработчиком</a>
			</p>
			<ul class="list-unstyled d-flex">
				<li class="ms-3">
					<a class="link-body-emphasis" href="#">
						<svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg>
					</a>
				</li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
			</ul>
		</div>
	</footer>