<div class="container text-center mt-4">
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.pinimg.com/564x/65/1b/6c/651b6ceb89808a8cf53025540c16f103.jpg" width="200" height="200" />
			<h2 class="fw-normal">Услуги</h2>
			<p>Качественные услуги, <br />помогут сохранить свежесть</p>
			<p><a class="btn btn-success text-dark" href="#">Записаться</a></p>
		</div>
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.pinimg.com/564x/fe/9f/c5/fe9fc53618e47885bf815cb9a2699b75.jpg" width="200" height="200" />
			<h2 class="fw-normal">Косметика</h2>
			<p>Самые актуальные цены в городе<br /> только для тебя</p>
			<p><a class="btn btn-success text-dark" href="#">Приобрести</a></p>
		</div>
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.pinimg.com/564x/2a/92/bb/2a92bb5d70d9da5f904bbf1102fb06de.jpg" width="200" height="200" />
			<h2 class="fw-normal">Процедуры</h2>
			<p>Для разных типов кожи<br /> подберем уход</p>
			<p><a class="btn btn-success text-dark" href="#">Консультация</a></p>
		</div>
	</div>
</div>