@using OnlineShopWebApp.Areas.Admin.Models
@model Role

<h3>Добавление роли</h3>
<br />
<form method="post">
    <div class="form-group">
        <label asp-for="Name">Введите роль</label>
        <br />
        <br />
        <input asp-for="Name" class="form-control" placeholder="Введите роль" required>
        <span asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-success" asp-area="Admin" asp-controller="Roles" asp-action="AddRole">Создать роль</button>
    </div>
</form>
